.panel {
	margin:20px auto;
}
.btn-errors  {
	float: left;
	margin-top:20px;
}
.btn-edit-error{
	float: right;
	margin-top:20px;
}

select {
	margin-right: 20px;
	margin-bottom: 10px;
}
input,textarea{
	margin-bottom: 10px;
}